*DEADJOE*
*~
/utils
/Students/**
/.idea
#README.md
/Stash
/**/.gitignore
/**/*_unused*
/**/*.unused
/**/_
/**/*_hidden
/**/*.hidden
/**/*.ots
/**/secrets.yml
/**/secrets.json
/**/.secrets
/**/secrets.tf
/**/terraform.tfstate*
/**/personal.auto.tfvars
/**/.terraform
/**/.git
/**/key.json
/**/authorized_key.json
.timestamp
