*DEADJOE*
*~
/utils
/.idea
#README.md
/Stash
/**/.gitignore
/**/*_unused*
/**/*.unused
/**/_
/**/*_hidden
/**/*.hidden
/**/secrets.yml
/**/secrets.json
/**/secrets.tf
/**/key.json
/**/authorized_key.json
.timestamp
