*DEADJOE*
*~
/utils
/.idea
#README.md
/Stash
/**/.gitignore
/**/*_unused*
/**/*.unused
/**/_
/**/*_hidden
/**/*.hidden
/**/*.ots
/**/secrets.yml
/**/secrets.json
/**/.secrets
/**/secrets.tf
/**/terraform.tfstate*
/**/.terraform
/**/key.json
/**/authorized_key.json
.timestamp
